html {
  -webkit-box-sizing: border-box;
}
body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #fff;
}
.logo {
  text-align: center;
  color: #fceb3e;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  letter-spacing: .1em;
  font-size: 60px;
  line-height: 1;
  position: relative;
  float: right;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #ab3912;
}
#board {
  background-color: white;
}
.gamepiece {
  width: 50px;
  height: 50px;
  color: #000;
  text-align: center;
  line-height: 50px;
}
.button-tile {
  position: absolute;
  top: 75%;
  left: 90%;
  width: 50px;
  height: 50px;
  background-color: #ebc080;
  color: black;
  text-align: center;
  line-height: 50px;
}
.top-nav {
  background-color: #2ecc71;
}
.top-nav li {
  position: relative;
  list-style: none;
}